<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
     <ion-title class="ion-text-center titulo-principal"><img alt="" src="/assets/img/logo2.png" class="logo-principal" /></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center subtitulo">Notas</ion-card-title>
  </ion-card-header>
  <ion-card-content>
  <ion-searchbar placeholder="Buscar Nota" (ionInput)="obtenerTexto($event)"></ion-searchbar>
  <ion-card>
  <ion-card-content>
    <ion-list>
      <ion-item-sliding *ngFor="let x of arregloNotas">
        <ion-item>
          <ion-label>
            <p style="word-wrap: break-word;white-space: normal;"><ion-icon name="balloon-outline"></ion-icon>   {{ x.detalle }}</p>
          </ion-label>
        </ion-item>
        <!-- opciones para las notas -->
        <ion-item-options>
          <ion-item-option (click)="modificar(x)">
            <ion-icon slot="bottom" name="pencil-sharp"></ion-icon>
            Modificar
          </ion-item-option>
          <ion-item-option color="danger" (click)="eliminar(x)">
            <ion-icon slot="bottom" name="trash"></ion-icon>
            Eliminar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card-content>
</ion-card>
  </ion-card-content>
  <ion-button  expand="block" color="dark" class="labels" (click)="agregar()">Nueva Nota</ion-button>
  <ion-button  expand="block" color="dark" class="labels"  [routerLink]="['/home']">Inicio</ion-button>
</ion-card>
</ion-content>
