<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
     <ion-title class="ion-text-center titulo-principal"><img alt="" src="/assets/img/logo2.png" class="logo-principal" /> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center subtitulo">Calendario</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-datetime [isDateEnabled]="isWeekday"></ion-datetime>
  </ion-card-content>

  <ion-button expand="block" class="labels" color="dark" [routerLink]="['/home']">Inicio</ion-button>
  <ion-button expand="block" class="labels" color="dark" [routerLink]="['/notas']">Notas</ion-button>
</ion-card>
</ion-content>
