<ion-content class="ion-padding">
  <br><br>
  <img alt="" src="/assets/img/logo2.png" class="logo-principal" />
  <ion-title class="ion-text-center titulo-principal">SkeletonApp</ion-title>
  <br>
  <br>  
    <ion-list lines="none">
      <ion-item>
        <ion-label class="labels">Desarrollado por: gvillablanca</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="labels">Mail: ge.villablanca@duocuc.cl</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="labels">Versión: v2</ion-label>
      </ion-item>
    </ion-list>
  <br>
  <br> 
  <div class="boton">
    <ion-button  size="default" class="labels" [routerLink]="['/login']" color="dark"><ion-icon name="log-out-outline"></ion-icon></ion-button>
    <ion-button  size="default" [routerLink]="['/home']" class="labels" color="dark">Atras</ion-button>
    <ion-button  size="default" [routerLink]="['/hdhdhd']" class="labels" color="dark"><ion-icon name="skull-outline"></ion-icon></ion-button>
  </div> 
 <br>
</ion-content>