<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <img alt="" src="/assets/img/img-logo.png" class="logo-principal" />
    <div class="boton">
      <ion-button fill="outline" size="small" class="labels" [routerLink]="['/login']" ><ion-icon name="log-out-outline"></ion-icon></ion-button>
      <ion-button fill="outline" size="small" [routerLink]="['/acerca-de']" class="labels">About me</ion-button>
    </div> 
    <br>
  </ion-toolbar>
</ion-header>
<ion-content >
  <h2 class="ion-text-center labels"> Bienvenido Usuario</h2>
  <ion-card>
    <img alt="Silhouette of mountains" src="/assets/img/banner01.png" />
    <ion-card-content>
     <ion-button expand="block" class="labels" (click)="perfil()"  color="dark">Perfil usuario</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
   <img alt="Silhouette of mountains" src="/assets/img/banner02.png" />
    <ion-card-content>
     <ion-button expand="block" class="labels" (click)="notas()" color="dark">Notas</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
   <img alt="Silhouette of mountains" src="/assets/img/banner03.png" />
    <ion-card-content>
     <ion-button expand="block" class="labels" [routerLink]="['/calendario']" color="dark">Calendario</ion-button>
    </ion-card-content>
  </ion-card>   
</ion-content>