<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
     <ion-title class="ion-text-center titulo-principal"><img alt="" src="/assets/img/logo2.png" class="logo-principal" />    SkeletonApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card >
    <ion-card-content>
    <ion-title class="ion-text-center labels">Registro</ion-title>
        <ion-item>
          <ion-label position="floating" class="labels"><ion-icon name="caret-forward-outline"></ion-icon> Usuario</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" class="labels"><ion-icon name="caret-forward-outline"></ion-icon> Password</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" class="labels"><ion-icon name="caret-forward-outline"></ion-icon> Repita password</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" class="labels"><ion-icon name="caret-forward-outline"></ion-icon> Nombre</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" class="labels"><ion-icon name="caret-forward-outline"></ion-icon> Apellido</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" class="labels"><ion-icon name="caret-forward-outline"></ion-icon> Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" class="labels"><ion-icon name="caret-forward-outline"></ion-icon> Nivel Educación</ion-label>
          <ion-select aria-label="nivel-ed" placeholder="Seleccione nivel">
            <ion-select-option value="basico">Basico</ion-select-option>
            <ion-select-option value="medio">Medio</ion-select-option>
            <ion-select-option value="universitario">Universitario</ion-select-option>
          </ion-select>
        </ion-item>
      <br>
      <div class="boton">
        <ion-button size="default" class="labels" (click)="registrar()" color="dark">Registrar</ion-button>
        <ion-button size="default" [routerLink]="['/login']" class="labels" color="dark">Salir</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
